@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  width: 100%;
  height: auto;
}

.webcam-container {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%);
  display: flex; 
  justify-content: center;
  width: 100%;
  gap: 50px;
}

body {
  background-color: #191919;
}

.input-email {
  border: 2px solid goldenrod;
  outline: none;
}

.input-email:focus {
  border-color: gold;
  box-shadow: 0 0 5px gold;
}
